:root {
    --primary-color: #27374D;
    --primary-light: #FAF0D7;
    --primary-dark: #424242;
    --primary-red: #FF4273;
}

* {}

body {
    background-color: var(--primary-color);
}

.container {
    position: absolute;
    left: 33%;
}

.heading {
    font-size: 30px;
    color: var(--primary-light);
    font-family: 'Aboreto', cursive;
    text-align: center;
}
.selection-buttons{
    margin-left: 10px;
}

#color-mode {
    padding: 12px 20px 12px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;

}

#color-mode:hover {
    color: var(--primary-light);
    border: 2px solid var(--primary-red);
    transform: scale(1.25);
    background-color: var(--primary-red);
    
}

#grey-mode {
    padding: 12px 20px 12px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;

}

#grey-mode:hover {
    color: var(--primary-light);
    border: 2px solid var(--primary-dark);
    transform: scale(1.25);
    background-color: var(--primary-dark);
    
}

#erase {
    padding: 12px 20px 12px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;
}

#erase:hover {
    color: var(--primary-light);
    transform: scale(1.25);
}

#reset {
    padding: 12px 20px 12px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;
}

#reset:hover {
    transform: scale(1.25);
    margin: 10px;
}

#sizeSlider {
    width: 600px;
    
}

#sizingSlider-text {
    color: var(--primary-light);
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.sketch-pad{
    width: 600px;
    height: 600px;
    display: grid;
    align-content: center;
}
input[type=range]{
    background-color:var(--primary-red) ;
    cursor: pointer;
}