:root {
    --primary-color: #27374D;
    --primary-light: #FAF0D7;
    --primary-dark: #424242;
    --primary-red: #FF4273;
}

* {}

body {
    background-color: var(--primary-color);
}

.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.heading {
    font-size: 38px;
    color: var(--primary-light);
    font-family: 'Aboreto', cursive;

}

.color-mode {
    padding: 12px 25px 12px 25px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;

}

.color-mode:hover {
    color: var(--primary-light);

    border: 2px solid var(--primary-red);
    transform: scale(1.25);
    background-color: var(--primary-red);
}

.grey-mode {
    padding: 12px 25px 12px 25px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;
}

.grey-mode:hover {
    color: var(--primary-light);
    border: 2px solid var(--primary-dark);
    transform: scale(1.25);
    background-color: var(--primary-dark);
}

.erase {
    padding: 12px 25px 12px 25px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;
}

.erase:hover {
    color: var(--primary-light);
    transform: scale(1.25);
}

.reset {
    padding: 12px 25px 12px 25px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-light);
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    font-family: 'Roboto Slab', serif;
}

.reset:hover {
    transform: scale(1.25);
}

#sizeSlider {
    width: 600px;
    color: var(--primary-red);
}

#sizingSlider-text {
    color: var(--primary-light);
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}